In [30]:
import pandas as pd

In [46]:
orders = pd.read_excel('Sample - Superstore.xls')

In [39]:
#orders.columns = orders.columns.str.lower().str.replace(' ','_')

In [95]:
orders.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [41]:
people = pd.read_excel('Sample - Superstore.xls', sheet_name=1)

In [24]:
people

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [48]:
returns = pd.read_excel('Sample - Superstore.xls', sheet_name=2)
returns = returns[['Order ID','Returned']]
returns

           Order ID Returned
0    CA-2016-100762      Yes
1    CA-2016-100762      Yes
2    CA-2016-100762      Yes
3    CA-2016-100762      Yes
4    CA-2016-100867      Yes
..              ...      ...
795  US-2019-147886      Yes
796  US-2019-147998      Yes
797  US-2019-151127      Yes
798  US-2019-155999      Yes
799  US-2019-155999      Yes

[800 rows x 2 columns]

In [ ]:
#найдем товар, который чаще всего возвращают

In [78]:
ord_and_ret = orders.merge(returns, how = 'left', on = 'Order ID')
ord_and_ret.shape

(12420, 22)

In [ ]:
ord_and_ret.Returned = ord_and_ret.Returned.apply(lambda x: 1 if x == 'Yes' else 0)

In [88]:
ret_rep = ord_and_ret.groupby('Product Name', as_index=False).agg({'Returned':['sum','count']})

In [89]:
ret_rep['return_rate'] = ret_rep[('Returned','sum')] / ret_rep[('Returned','count')]

In [93]:
ret_rep.sort_values(['return_rate',('Returned','sum')], ascending = False)

                                           Product Name Returned        \
                                                             sum count
210                                           Avery 500        8     8
1838  Zebra GK420t Direct Thermal/Thermal Transfer P...        4     4
385   Bush Saratoga Collection 5-Shelf Bookcase, Han...        3     3
436                             Cisco SPA 501G IP Phone        3     3
63                                     Acco Glide Clips        2     2
...                                                 ...      ...   ...
1842                         Zipper Ring Binder Pockets        0    13
1845  iKross Bluetooth Portable Keyboard + Cell Phon...        0     5
1846                         iOttie HLCRIO102 Car Mount        0     5
1847                                iOttie XL Car Mount        0     2
1848  invisibleSHIELD by ZAGG Smudge-Free Screen Pro...        0     7

     return_rate

210          1.0
1838         1.0
385          1.0
436          1.0
63           1.0
...          ...
1842         0.0
1845         0.0
1846         0.0
1847         0.0
1848         0.0

[1850 rows x 4 columns]